<div class="profile">
    <img src="{{player.playerPhoto}}" height="150px" class="playerMugshot">
    <h2>{{player.playerName}}</h2>
    
    <h3>{{player.cityName}} {{player.teamName}}</h3>
    
    <h3>Position: {{player.position}}</h3>
    <h3>Hits: {{player.playerStats.hits}}</h3>
    <h3>Average: {{player.playerStats.average}}</h3>
    <h3>RBI's: {{player.playerStats.RBIs}}</h3>
    <h3>HR's: {{player.playerStats.HRs}}</h3>
    <h3>Steals: {{player.playerStats.steals}}</h3>
    <h3>Errors: {{player.playerStats.errors}}</h3>
    <br>
    <form method="POST" action="/players/{{player._id}}?_method=DELETE">
        <input type="submit" value="Destroy Player" class="destroy"/>
    </form>

    <form method="POST" action="/players/{{player._id}}?_method=PUT">
        <input type="text" name="playerName" placeholder="Name" />
        <input type="text" name="playerPhoto" placeholder="Photo URL" />
        <input type="text" name="position" placeholder="Position" />
        <input type="text" name="playerStats.hits" placeholder="Hits" />
        <input type="text" name="playerStats.average" placeholder="Average" />
        <input type="text" name="playerStats.RBIs" placeholder="RBIs" />
        <input type="text" name="playerStats.HRs" placeholder="HRs" />
        <input type="text" name="playerStats.steals" placeholder="Steals" />
        <input type="text" name="playerStats.errors" placeholder="Errors" />
        <input type="text" name="cityName" placeholder="City Name" />
        <input type="text" name="teamName" placeholder="Team Name" />
        <input type="submit" value="Mutate Player" class="mutate"/>
    </form>

</div>