<div class="teamProfile">
    <img src="{{team.teamLogo}}" height="150px" class="teamLogo">
    <h1>{{team.cityName}} {{team.teamName}}</h1>
    
    <h2>Team: {{team.cityName}} {{team.teamName}}</h2>
        
    <h2>Stats:</h2>
    <h3>Wins: {{team.teamStats.wins}}</h3>
    <h3>Losses: {{team.teamStats.losses}}</h3>
    <h3>Championships: {{team.teamStats.championships}}</h3>
    <h3>Stadium: {{team.stadium}}</h3>
    <h3>Players</h3>
    {{!-- {{#each team.players}}
        <li>
            <a href="/players/{{_id}}">
            <img src="{{playerPhoto}}" height="150px"><br>
            {{playerName}}
            </a>
        </li>
    {{/each}} --}}
    <br>
    <form method="POST" action="/teams/{{team._id}}?_method=DELETE">
        <input type="submit" value="Destroy Team" />
    </form>

    <form method="POST" action="/teams/{{team._id}}?_method=PUT">
        <input type="text" name="cityName" placeholder="City Name" />
        <input type="text" name="teamName" placeholder="Team Name" />
        <input type="text" name="teamLogo" placeholder="Logo URL" />
        <input type="text" name="teamStats.wins" placeholder="Wins" />
        <input type="text" name="teamStats.losses" placeholder="Losses" />
        <input type="text" name="teamStats.championships" placeholder="Championships" />
        <input type="text" name="stadium" placeholder="Stadium" />
        <input type="submit" value="Mutate Team" />
    </form>

</div>