<div class="profile">
    <img src="{{team.teamLogo}}" height="150px" class="teamLogo">
    {{!-- <h1>{{team.cityName}} {{team.teamName}}</h1> --}}
    
    <h2>{{team.cityName}} {{team.teamName}}</h2>
        
    <h3>Wins: {{team.teamStats.wins}}</h3>
    <h3>Losses: {{team.teamStats.losses}}</h3>
    <h3>Championships: {{team.teamStats.championships}}</h3>
    <h3>Stadium: {{team.stadium}}</h3>
    <h3>Players:</h3>
    {{!-- {{#each team.players}}
        {{#if (team.players.cityName == team.cityName) && (team.players.teamName == team.teamName)}}
        <li>
            <a href="/players/{{_id}}">
            <img src="{{playerPhoto}}" height="150px"><br>
            {{playerName}}
            </a>
        </li>
        {{/if}}
    {{/each}} --}}
    {{#each players}}
        <li>
            <a href="/players/{{_id}}">
            <img src="{{playerPhoto}}" height="150px"><br>
            {{playerName}}
            </a>
        </li>
    {{/each}}
    <br>
    <form method="POST" action="/teams/{{team._id}}?_method=DELETE">
        <input type="submit" value="Destroy Team" class="destroy"/>
    </form>

    <form method="POST" action="/teams/{{team._id}}?_method=PUT">
        <input type="text" name="cityName" value="{{team.cityName}}" placeholder="City Name" />
        <input type="text" name="teamName" value="{{team.teamName}}" placeholder="Team Name" />
        <input type="text" name="teamLogo" value="{{team.teamLogo}}" placeholder="Logo URL" />
        <input type="text" name="teamStats.wins" value="{{team.teamStats.wins}}" placeholder="Wins" />
        <input type="text" name="teamStats.losses" value="{{team.teamStats.losses}}" placeholder="Losses" />
        <input type="text" name="teamStats.championships" value="{{team.teamStats.championships}}" placeholder="Championships" />
        <input type="text" name="stadium" value="{{team.stadium}}" placeholder="Stadium" />
        <input type="submit" value="Mutate Team" class="mutate"/>
    </form>

</div>