<div class="playerProfile">
    <img src="{{player.playerPhoto}}" height="150px" class="playerMugshot">
    <h1>{{player.playerName}}</h1>
    
    <h2>Team: {{player.cityName}} {{player.teamName}}</h2>
    
    <h2>Stats:</h2>
    <h3>Hits: {{player.playerStats.hits}}</h3>
    <h3>Average: {{player.playerStats.average}}</h3>
    <h3>RBI's: {{player.playerStats.RBIs}}</h3>
    <h3>HR's: {{player.playerStats.HRs}}</h3>
    <h3>Steals: {{player.playerStats.steals}}</h3>
    <h3>Errors: {{player.playerStats.errors}}</h3>
    <br>
    <form method="POST" action="/players/{{player._id}}?_method=DELETE">
        <input type="submit" value="Destroy Player" />
    </form>
</div>